* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9c5df2;
}

.memory-game {
  margin: auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  gap: 0.3rem;
}

.memory-card {
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  border: 2px solid black;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
