* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9c5df2;
}

.memory-game {
  margin: auto;
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  perspective: 1000px;
}

.memory-card {
  border: 2px solid black;
  flex-basis: 33%;
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
